n8n_complete_workflow.json
{
  "name": "Trading Agent System - Updated Workflow (v2)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "id": "schedule-15min",
      "name": "Every 15 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://trading-agent-system-technical-analyzer-agent-1:8000/analyze_multi_tf",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"symbol\": \"BTCUSDT\"\n}",
        "options": {}
      },
      "id": "technical-analyzer",
      "name": "1. Technical Analyzer (Multi-TF)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [540, 100]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://trading-agent-system-fibonacci-cyclical-agent-1:8000/analyze_fibonacci",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"crypto_symbol\": \"BTCUSDT\"\n}",
        "options": {}
      },
      "id": "fibonacci-analyzer",
      "name": "2. Fibonacci Analyzer",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [540, 220]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://trading-agent-system-gann-analyzer-agent-1:8000/analyze_gann",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"symbol\": \"BTCUSDT\"\n}",
        "options": {}
      },
      "id": "gann-analyzer",
      "name": "3. Gann Analyzer",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [540, 340]
    },
    {
      "parameters": {
        "mode": "combine",
        "options": {}
      },
      "id": "merge-analyses",
      "name": "Merge All Analyses",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [840, 220]
    },
    {
      "parameters": {
        "jsCode": "// Prepare data for Master AI Agent (updated structure)\nconst items = $input.all();\n\n// Find each analysis type by endpoint characteristics\nconst tech = items.find(item => item.json.tf_1h !== undefined || item.json['1h'] !== undefined) || { json: {} };\nconst fibonacci = items.find(item => item.json.levels !== undefined || item.json.current_level !== undefined) || { json: {} };\nconst gann = items.find(item => item.json.angle !== undefined || item.json.trend !== undefined) || { json: {} };\n\n// Create payload for Master AI Agent with updated structure\nconst payload = {\n  symbol: \"BTCUSDT\",\n  tech_data: tech.json,\n  fib_data: fibonacci.json,\n  gann_data: gann.json,\n  sentiment_data: {}  // No sentiment agent in new version\n};\n\nreturn [{ json: payload }];"
      },
      "id": "prepare-data",
      "name": "4. Prepare Data for AI",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1040, 220]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://trading-agent-system-master-ai-agent-1:8000/decide",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "id": "master-ai",
      "name": "5. Master AI Decision",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1240, 220]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.decision }}",
              "operation": "regex",
              "value2": "OPEN_(LONG|SHORT)"
            }
          ]
        }
      },
      "id": "check-decision",
      "name": "Should Open Position?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1440, 220]
    },
    {
      "parameters": {
        "jsCode": "// Execute trade based on AI decision\nconst decision = $input.item.json;\nconst setup = decision.trade_setup || {};\n\n// Prepare order data\nconst orderData = {\n  action: decision.decision,\n  symbol: decision.symbol || \"BTCUSDT\",\n  entry_price: setup.entry_price,\n  stop_loss: setup.stop_loss,\n  take_profit: setup.take_profit,\n  size_pct: setup.size_pct || 0.5,\n  message: `Opening position: ${decision.decision} at ${setup.entry_price}`\n};\n\nconsole.log('Trade execution:', orderData);\nreturn [{ json: orderData }];"
      },
      "id": "execute-trade",
      "name": "6. Execute Trade",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1640, 120]
    },
    {
      "parameters": {},
      "id": "no-action",
      "name": "No Action (WAIT)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1640, 320]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://trading-agent-system-position-manager-agent-1:8000/manage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"positions\": []\n}",
        "options": {}
      },
      "id": "position-manager",
      "name": "7. Position Manager (Trailing)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1840, 220]
    }
  ],
  "pinData": {},
  "connections": {
    "Every 15 Minutes": {
      "main": [
        [
          {
            "node": "1. Technical Analyzer (Multi-TF)",
            "type": "main",
            "index": 0
          },
          {
            "node": "2. Fibonacci Analyzer",
            "type": "main",
            "index": 0
          },
          {
            "node": "3. Gann Analyzer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "1. Technical Analyzer (Multi-TF)": {
      "main": [
        [
          {
            "node": "Merge All Analyses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "2. Fibonacci Analyzer": {
      "main": [
        [
          {
            "node": "Merge All Analyses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "3. Gann Analyzer": {
      "main": [
        [
          {
            "node": "Merge All Analyses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge All Analyses": {
      "main": [
        [
          {
            "node": "4. Prepare Data for AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "4. Prepare Data for AI": {
      "main": [
        [
          {
            "node": "5. Master AI Decision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "5. Master AI Decision": {
      "main": [
        [
          {
            "node": "Should Open Position?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Open Position?": {
      "main": [
        [
          {
            "node": "6. Execute Trade",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Action (WAIT)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "6. Execute Trade": {
      "main": [
        [
          {
            "node": "7. Position Manager (Trailing)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Action (WAIT)": {
      "main": [
        [
          {
            "node": "7. Position Manager (Trailing)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "",
  "meta": {
    "instanceId": ""
  },
  "id": "",
  "tags": []
}
